@media only screen and (max-device-width: 450px) {
  button {
    height: 70px;
    font-size: 24px;
    padding-left: 28px;
    padding-right: 28px;
    margin-left: 2%;
  }
  h5 {
    font-size: 29px;
  }
  li {
    font-size: 25px;
  }
  p {
    font-size: 23px;
    text-align: center;
  }
  a {
    font-size: 25px;
  }
  .display-body {
    width: 100vw;
    height: auto;
  }
  .display-container {
    width: 100%;
  }
  .box-hero-navegation {
    height: auto;
    width: 100%;
  }
  .flexbox-navegation {
    width: 90%;
    height: 100%;
  }
  .links-navegation {
    display: none;
  }
  .flexbox-hero {
    flex-direction: column-reverse;
    justify-content: space-around;
    width: auto;
    height: auto;
    padding-top: 50px;
    text-align: center;
  }
  .subtitle-hero {
    width: 100%;
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 30px;
  }
  .title-hero {
    width: 100%;
    font-size: 55px;
    padding-top: 30px;
  }
  .title-navegation {
    font-size: 28px;
  }

  .icons-hero {
    width: 50px;
    height: 50px;
  }
  .abilities-hero {
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 20px;
  }
  .abilities-subtitle-card {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #000000;
    width: auto;
    margin: 0px;
    text-align: center;
  }
  .title-projects {
    flex-direction: row;
  }
  .grid-projects-card {
    grid-template-columns: auto auto;
    column-gap: 3%;
    padding-top: 10%;
    row-gap: 5%;
  }
  .project-card {
    width: 450px;
    height: 395px;
  }

  .card-hero {
    width: 400px;
    height: auto;
  }
  .image-link-card {
    width: 45px;
    height: 45px;
  }
  .image-git-card {
    width: 36px;
    height: 35px;
  }
  .subtitle-helpyou-hero {
    font-size: 24px;
    padding-top: 18px;
  }
  .email-image {
    width: 45px;
    height: 31px;
  }
  .phone-number-image {
    width: 30px;
    height: 31px;
  }
  .flex-contact {
    padding-bottom: 15px;
  }
  .icons-footer {
    width: 15%;
  }
  .display-icons-cards {
    width: 30%;
  }
  .flexbox-icons-hero {
    width: 20%;
    margin-left: 40%;
    padding-top: 8%;
  }
}
